body,
html {
  /* padding: 0, 0, 0, 100px; */
  margin: 0px 0px 0px 50px;
  padding: 0%;
  box-sizing: border-box;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}


@media screen and (max-width: 999px) {

  body,
  html {
    margin: 30px 0px 0px 0px;
  }
}


*,
:before,
:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "circular-bold";
  src: url(~assets/fonts/circularstd-bold.woff2) format("woff2"),
    url(~assets/fonts/circularstd-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "circular-book";
  src: url(~assets/fonts/circularstd-book.woff2) format("woff2"),
    url(~assets/fonts/circularstd-book.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "circular-medium";
  src: url(~assets/fonts/circularstd-medium.woff2) format("woff2"),
    url(~assets/fonts/circularstd-medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "mistral";
  src: url(~assets/fonts/mistral.woff2) format("woff2"),
    url(~assets/fonts/mistral.woff) format("woff");
  font-style: normal;
}

html {
  font-family: circular-book;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a:active {
  color: var(--primary-color)
}




/* Colours Pallete*/

:root {
  --primary-color: #fc3a52;
  --secondary-color: #1c1b20;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #424455;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3;
}

.black {
  color: #0a0a0a;
}

.li:active {
  color: var(--primary-color);
}

.sayhi-container {
  font-family: circular-book;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

.opacity50 {
  opacity: .5;
}

.opacity70 {
  opacity: .7;
}

.opacity80 {
  opacity: .8;
}

.black90 {
  color: #3a3a3a;
}

.black80 {
  color: #474747;
}

.black70 {
  color: #555555;
}

.black60 {
  color: #656565;
}

.black50 {
  color: #919191;
}

/* typography */

h1 {
  font-family: circular-bold;
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-size: 60px;
  font-family: circular-book;
}

h3 {
  font-family: circular-book;
  font-size: 40px;
}

.ps {
  font-family: circular-book;
  font-size: 16px;
}

.pm {
  font-family: circular-book;
  font-size: 20px;
}

.pl {
  font-family: circular-book;
  font-size: 24px;
}

p {
  font-family: circular-book;
  font-size: 27px;
  /* line-height: 42px; */
}

.no-white-space {
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 23px;
    /* line-height: 39px; */
  }

  h2 {
    font-size: 53px;
  }
}

@media screen and (max-width: 999px) {
  h1 {
    font-size: 70px;
    line-height: 77px;

  }

  h2 {
    font-size: 48px;

  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 64px;

  }

  h2 {
    font-size: 40px
  }

  p {
    font-size: 20px;
    /* line-height: 35px; */
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 46px;

  }

  h2 {
    font-size: 38px;
  }

  p {
    font-size: 18px;
    /* line-height: 32px; */
  }
}


.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}

.outlined_white {
  -webkit-text-stroke: 0.6px rgb(255, 255, 255);
  color: transparent;
}


/* website logo  from componenent logo*/

.logo {
  display: inline-block;
  animation: turn 2s linear forwards 1s;
  /* transform: rotateX(180deg); */
  position: relative;
  overflow: hidden;
  /* height: 90px;
  width: 120px; */
  left: 15%;
  padding-top: 30px;
  transform: translate(-50%);
}

@media screen and (max-width: 999px) {

  .logo {
    left: 8%;
    padding-top: 0px;
  }

  svg {
    width: 60px;
  }
}

/* Vertical Line */

.vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 0;
  display: block;
  z-index: -1000;
}

.vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  left: 51.58%;
  margin-left: -3px;
  top: 0;
}

.vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

@media screen and (max-width: 800px) {
  .vl {
    display: none;
  }
}


.contain {
  /* margin-left: 20%; */
  margin-right: 18.4%;
  margin-left: calc(20% - 83px);
}

@media screen and (max-width:800px) {
  .contain {
    /* margin-left: 20%; */
    margin-right: 18.4%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .contain {
    /* margin-left: 20%; */
    margin-right: 18.4%;
    margin-left: 7%;
  }
}

.center-h-v {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*  home More Button like 
get to know me,
view more work*/

.more-about-me {
  width: 100%;
  height: 60vh;
  position: relative;
}


/* work grid */
.showcase-container-home {
  display: flex;
  width: 77%;
  margin-left: calc(13% - 50px);
  /* margin-bottom: -150px; */
}


.showreel-heading,
.showreel-sub-heading {
  font-family: mistral;
}

/* .showcase-container {
  display: flex;
  width: 70%;
  margin-left: 16.4%;
  margin-top: 100px;
} */

.showcase-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  grid-column-gap: 70px;
  grid-row-gap: 150px;
}

.projects-wrapper-top:nth-child(2n) {
  margin-bottom: -50px;
}

@media screen and (max-width: 1117px) {

  .projects-wrapper-top:nth-child(2n) {
    margin-bottom: 0px;
  }
}


/* 



/* reveal css */

/* Grid */

/* Reveal block */

.reveal {
  position: relative;
}

.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.reveal-holder .reveal-block {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 70%;
  background: white;
}

.reveal-holder .reveal-block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
}

.reveal-block.gradient::before {
  background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.red::before {
  background: var(--primary-color);
}

.reveal-block.gradient-two::before {
  background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
  background: #1b9edf;
}

.reveal-block.extra::before {
  background: #af74c3;
}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.reveal-block.top::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.reveal-block.left::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.reveal-block.right::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

/* AOS animate */
[data-aos="reveal-top"],
[data-aos="reveal-left"],
[data-aos="reveal-right"],
[data-aos="reveal-bottom"] {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-delay: 0.5s;
}

[data-aos="reveal-top"] {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[data-aos="reveal-top"].aos-animate {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

[data-aos="reveal-left"] {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[data-aos="reveal-left"].aos-animate {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

[data-aos="reveal-right"] {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[data-aos="reveal-right"].aos-animate {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

[data-aos="reveal-bottom"] {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[data-aos="reveal-bottom"].aos-animate {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

[data-aos="reveal-item"] {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
}

[data-aos="reveal-item"].aos-animate {
  visibility: visible;
}


/* home blog */
.article-container {
  font-family: circular-book;
}

.article-heading {
  font-family: circular-bold;
}


/* projects footer */

.p-text {
  position: absolute;
  width: 100%;
  align-items: center;
  top: 15%;
  text-align: center;
  transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
}

.project-previous:hover .p-text {
  letter-spacing: 3px;
}

.project-next:hover .p-text {
  letter-spacing: 3px;
}

.np_details {
  position: absolute;
  top: 40%;
  width: 100%;

  text-align: center;
  color: white;
}

.np_heading {
  font-size: 24px;
  margin-bottom: 0px;
}

.np_sub-heading {
  font-size: 16px;
  margin-top: 0px;
}


/* applause correction */

.applause-button .count-container .count {

  width: 1px !important;

}


/* blog css to be put in blog page later  */

.blog-hero_container {
  width: 100%;
  height: 100vh;
  background-color: #424455;
  color: white;
  position: fixed;
}


.blog-hero_heading {
  padding: 100px 0px 40px 0px;
}

.empty-space {
  width: 100%;
  height: 100vh;

}

.b-article-section {
  width: 100%;
  background-color: white;
  position: relative;
}


/* showcase  */
.w-hero_container {
  height: 100vh;
  width: 100%;
  background-color: #1f2029;
}


/* Project Filming Eye */

.p-hero_image {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.p-hero_image>img {
  position: absolute;
}

.p-hero_image>img:nth-child(2) {
  width: 70%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%)
}

@media screen and (max-width: 999px) {
  .p-hero_image {

    height: 80vh;

  }
}

@media screen and (max-width: 800px) {
  .p-hero_image>img:nth-child(2) {

    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .p-hero_image {

    height: 60vh;

  }
}

.p-para {
  font-size: 40px;
  /* margin-bottom: 0px;
  margin-top: 60px; */
}

.p-image-100 {
  width: 100%;
}

.p-fe_photogrid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  height: auto;
  width: 100%;
  z-index: 1;
}

.p-fe_photogrid img {
  width: 100%;
  object-fit: fill;
}

@media screen and (max-width:1000px) {
  .p-fe_photogrid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width:500px) {
  .p-fe_photogrid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
}

.p-fe_branding-grid {
  display: grid;
  grid-gap: 30px;

  grid-auto-flow: dense;
}

.p-fe_branding-grid>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big {
  grid-column: span 2;
}

@media screen and (max-width:800px) {
  .big {
    grid-column: span 1;
  }

  .p-fe_branding-grid {
    grid-gap: 10px;

  }

}

.p-fe_final-design {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: -6px;
}

/* 
.abcd {
  display: flex;
  width: 63%;
  align-items: center;
  align-content: center;
  left: 20%;
  position: relative;
  margin-left: -10px;
  z-index: 1;
} */
