body,
html {
  /* padding: 0, 0, 0, 100px; */
  margin: 0px 0px 0px 50px;
  padding: 0%;
  box-sizing: border-box;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}


*,
:before,
:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "circular-bold";
  src: url(~assets/fonts/circularstd-bold.woff2) format("woff2"),
    url(~assets/fonts/circularstd-bold.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "circular-book";
  src: url(~assets/fonts/circularstd-book.woff2) format("woff2"),
    url(~assets/fonts/circularstd-book.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "circular-medium";
  src: url(~assets/fonts/circularstd-medium.woff2) format("woff2"),
    url(~assets/fonts/circularstd-medium.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "mistral";
  src: url(~assets/fonts/mistral.woff2) format("woff2"),
    url(~assets/fonts/mistral.woff) format("woff");
  font-style: normal;
}

html {
  font-family: circular-medium;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


/* Colours Pallete*/

:root {
  --primary-color: #fc3a52;
  --secondary-color: #1c1b20;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #1f2029;
  --dark-light: #424455;
  --red: #da2c4d;
  --yellow: #f8ab37;
  --grey: #ecedf3;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
  text-shadow: none;
}


/* typography */

h1 {
  font-family: circular-bold;
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-family: circular-book;
  font-size: 40px;
}


p {
  font-family: circular-book;
  font-size: 27px;
  line-height: 42px;
}

@media screen and (max-width: 1200px) {
  p {
    font-size: 23px;
    line-height: 39px;
  }
}

@media screen and (max-width: 999px) {
  h1 {
    font-size: 70px;
    line-height: 77px;

  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
    line-height: 64px;

  }

  p {
    font-size: 20px;
    line-height: 35px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    line-height: 46px;

  }

  p {
    font-size: 18px;
    line-height: 32px;
  }
}


.outlined {
  -webkit-text-stroke: 0.6px black;
  color: transparent;
}


/* Vertical Line */

.vl {
  border-left: 1px solid #d8d8d8;
  height: 100vh;
  position: fixed;
  z-index: 0;
  display: block;
}

.vl1 {
  left: 20%;
  margin-left: -3px;
  top: 0;
}

.vl2 {
  left: 51.58%;
  margin-left: -3px;
  top: 0;
}

.vl3 {
  left: 83%;
  margin-left: -3px;
  top: 0;
}

@media screen and (max-width: 800px) {
  .vl {
    display: none;
  }
}


.contain {
  /* margin-left: 20%; */
  margin-right: 18.4%;
  margin-left: calc(20% - 83px);
}


/*  home More Button like 
get to know me,
view more work*/

.more-about-me {
  width: 100%;
  height: 60vh;
  position: relative;
}


/* work grid */
.showcase-container-home {
  display: flex;
  width: 72%;
  margin-left: calc(15.4% - 50px);
  /* margin-bottom: -150px; */
}

/* .showcase-container {
  display: flex;
  width: 70%;
  margin-left: 16.4%;
  margin-top: 100px;
} */

.showcase-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  grid-column-gap: 70px;
  grid-row-gap: 70px;
}

.showcase-container-grid:nth-child(2n) {
  margin-bottom: 38px;
}

.showcase-container-grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  grid-column-gap: 70px;
}


/* reveal css */

/* Grid */

/* Reveal block */

.reveal {
  position: relative;
}

.reveal-holder {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.reveal-holder .reveal-block {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 70%;
  background: white;
}

.reveal-holder .reveal-block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightgray;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
}

.reveal-block.gradient::before {
  background: linear-gradient(to left, #eebf56, #f46ca3);
}

.reveal-block.red::before {
  background: var(--primary-color);
}

.reveal-block.gradient-two::before {
  background: linear-gradient(to left, #1b9edf, #af74c3);
}

.reveal-block.extra {
  background: #1b9edf;
}

.reveal-block.extra::before {
  background: #af74c3;
}

.reveal-block.top.aos-animate::before,
.reveal-block.bottom.aos-animate::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.reveal-block.left.aos-animate::before,
.reveal-block.right.aos-animate::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.reveal-block.top::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.reveal-block.left::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.reveal-block.right::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.reveal-block.bottom::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

/* AOS animate */
[data-aos="reveal-top"],
[data-aos="reveal-left"],
[data-aos="reveal-right"],
[data-aos="reveal-bottom"] {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-delay: 0.5s;
}

[data-aos="reveal-top"] {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[data-aos="reveal-top"].aos-animate {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

[data-aos="reveal-left"] {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[data-aos="reveal-left"].aos-animate {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

[data-aos="reveal-right"] {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[data-aos="reveal-right"].aos-animate {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

[data-aos="reveal-bottom"] {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

[data-aos="reveal-bottom"].aos-animate {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

[data-aos="reveal-item"] {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
}

[data-aos="reveal-item"].aos-animate {
  visibility: visible;
}
